.site_header {
    max-width: 93.75vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;

    .site_nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80px;

        .site_logo {
            width: 216px;
            height: 14px;
            margin-left: 146px;
            padding: 31px 0px 35px 0px;
        }

        .site_header_menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 45px;
            margin-right: 146px;
            padding: 28px 0px 28px 0px;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;

                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .site_hero_header {

        .site_hero_image {
            width: 100%;
        }

        h1 {
            position: relative;
            top: -41vw;
            left: 13vw;
            -webkit-text-stroke: 2px white;
            -webkit-text-fill-color: transparent;

        }
    }

}