.lightbox {
    display: flex;
    position: fixed;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    z-index: -10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.lightbox-content {
    position: relative;
    padding: 10px;
    margin: auto;
    width: 80%;
    max-width: 700px;
    max-height: 90%;
    /* Limite la hauteur du contenu */
    overflow-y: auto;
    /* Permet le défilement si l'image est trop haute */
}

.lightbox-image {
    width: 100%;
    /* Utiliser toute la largeur du conteneur de contenu */
    max-height: 83vh;
    /* Limiter la hauteur maximale à celle du conteneur */
    object-fit: contain;
    /* Assure que l'image s'adapte sans être rognée */
    height: auto;
    /* Garder le rapport hauteur/largeur */
    border: none;
    /* Pas de bordure */
    display: block;
    /* Élimine les espaces blancs en dessous de l'image */
}


/* Titre, référence et catégorie dans la légende */
.lightbox-caption {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* Texte blanc */
    text-align: center;
    /* Centrer le texte */

    .lightbox-title,
    .lightbox-reference,
    .lightbox-category {
        color: white;
    }

    .lightbox-category {
        font-family: Space Mono;
        font-weight: 400;
        font-size: 14px;

    }

    .lightbox-reference {
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
    }
}


/* Bouton de fermeture */
.lightbox-close {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    top: 0%;
    right: 15%;
}

/* Boutons de navigation */
.lightbox-prev,
.lightbox-next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    opacity: 0.8;
}

.lightbox-prev {
    top: 50%;
    left: 15%;

}

.lightbox-next {
    top: 50%;
    right: 15%;

}

/* Ajout d'un hover effect pour les boutons de navigation */
.lightbox-prev:hover {
    opacity: 1;
    animation: arrow-prev-move 1s ease-in-out;

}

.lightbox-next:hover {
    opacity: 1;
    animation: arrow-next-move 1s ease-in-out;

}


.opened {
    opacity: 1;
    z-index: 1000;
}

@keyframes arrow-next-move {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes arrow-prev-move {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }
}

@media screen and (max-width: 720px) {

    .lightbox-next {
        top: 92%;
        right: 21%;
    }

    .lightbox-prev {
        top: 92%;
        left: 21%;
    }

    .container-photo-interest {
        display: none;
    }

    .main-photo .content-interest-contact .interest {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .container-similar-images h3 {
        text-align: center;
    }
}