.lightbox {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: -10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.lightbox-content {
    position: relative;
    padding: 10px;
    margin: auto;
    width: 80%;
    max-width: 700px;
    max-height: 90%;
    overflow-y: auto;
}

.lightbox-image {
    width: 100%;
    max-height: 82vh;
    object-fit: contain;
    height: auto;
    border: none;
    display: block;
}

.lightbox-caption {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;

    .lightbox-title,
    .lightbox-reference,
    .lightbox-category {
        color: white;
    }

    .lightbox-category {
        font-family: Space Mono;
        font-weight: 400;
        font-size: 14px;
    }

    .lightbox-reference {
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
    }
}

.lightbox-close {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    top: 0%;
    right: 15%;
}

.lightbox-prev,
.lightbox-next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    opacity: 0.8;
}

.lightbox-prev {
    top: 50%;
    left: 18%;
}

.lightbox-next {
    top: 50%;
    right: 18%;
}

.lightbox-prev:hover {
    opacity: 1;
    animation: arrow-prev-move 1s ease-in-out;
}

.lightbox-next:hover {
    opacity: 1;
    animation: arrow-next-move 1s ease-in-out;
}

.opened {
    opacity: 1;
    z-index: 1000;
}

@keyframes arrow-next-move {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes arrow-prev-move {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }
}

@media screen and (max-width: 1366px) {
      .lightbox-next {
       right: 7%;
       top: 50%;
    }

    .lightbox-prev {
       left: 7%;
       top: 50%;
    }
}

@media screen and (max-width: 1024px) {

.lightbox-prev {
	left: 22%;
	top: 94%;
}
.lightbox-next {
	right: 22%;
	top: 94%;
}
}

@media screen and (max-width: 720px) {
    .lightbox {
        overflow: hidden;
    }

    .lightbox-next {
        top: 96%;
        right: 3%;
    }

    .lightbox-prev {
        top: 96%;
        left: 3%;
    }

    .container-photo-interest {
        display: none;
    }

    .main-photo .content-interest-contact .interest {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    }

    .container-similar-images h3 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .lightbox-close {
        right: 7%;
    }

    .lightbox-prev {
        left: 3%;
        top: 96%;
    }

    .lightbox-next {
        right: 3%;
        top: 96%; 
    }
} 