.container-similar-images {
    .img-similar-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            width: 100%;
            margin-top: 77px;
            margin-bottom: 52px;
        }

        .similar-image {
            position: relative;
            width: calc(50% - 10px); // Réserve de l'espace pour la marge
            margin: 5px;
            display: flex;
            justify-content: center;
        }

        .similar-image::before {
            content: '';
            display: block;
        }

        .image-similar {
            width: 564px;
            height: 495px;

            & img {
                width: 99%;
                height: 99%;
                object-fit: cover;
            }

            .image-overlay {
                position: relative;
                width: 99%;
                height: 99%;

                &:hover .overlay-content {
                    visibility: visible;
                    opacity: 1;
                }

                .overlay-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 99%;
                    height: 99%;
                    background: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.5s linear;
                }
            }
        }
    }

    .container-button {
        display: flex;
        flex-direction: row;
        justify-content: center;


        .btn-all-images {
            display: flex;
            width: 271px;
            height: 50px;
            padding: 8px 15px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 2px;
            background: #D8D8D8;
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
            color: #000;
            font-family: Space Mono;
            font-size: 12px;
            margin-top: 53px;

            .hidden {
                display: none;
            }

            &:hover {
                background-color: #000;
                color: #fff;
                transition: 1s;
            }
        }
    }
}

.icons {
    cursor: pointer;
    color: white;
}

.icon-eye {
    color: white;
}

.icon-expand {
    position: absolute;
    top: 10px;
    right: 10px;
}

.ref-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.category-overlay {
    position: absolute;
    bottom: 12px;
    right: 10px;
}

@media screen and (max-width: 1024px) {
    .container-similar-images .img-similar-images .image-similar {
        width: 100%; // Sur les petits écrans, chaque .similar-image prend toute la largeur
        justify-content: center;
    }

    .container-similar-images {
        .img-similar-images {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 10px;
            align-items: center;

            .image-similar {
                width: 564px;
                height: 495px;


            }
        }
    }
}

@media screen and (max-width: 700px) {
    .container-similar-images .img-similar-images .image-similar {

        margin: 5px 0;
        width: 317px; // Nouvelle largeur pour les écrans plus petits
        height: 278px;

    }
}