.main-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 93.75vw;
    width: 100%;

    .content-single-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 146px;

        .content-desc-photo {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .desc-photo {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 17px;
                padding: 0;
                border-bottom: 1px solid $black;
                text-transform: uppercase;
                list-style-type: none;

                a {
                    text-decoration: none;
                }

                .photo-title {
                    width: 50%;
                    margin: 0;
                }

                .list-desc-photo {
                    list-style-type: none;
                    padding: 0 0 20px;
                    margin: 0;

                    li {
                        margin-top: 20px;
                    }
                }
            }
        }

        .single-photo {
            width: 100%;
            margin-left: 21px;
            padding-bottom: 18px;

            .single-image-overlay {
                position: relative;

                .single-image {
                    max-width: 100%;
                    height: auto;
                }

                .single-overlay-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5); // Un fond semi-transparent
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                &:hover .single-overlay-content {
                    opacity: 1;
                }
            }
        }
    }

    .content-interest-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $black;
        padding-bottom: 11px;
        margin-bottom: 77px;

        .interest {
            display: flex;
            flex-direction: row;
            width: 50%;
            justify-content: space-between;
        }

        .btn-interest {
            width: 272px;
            height: 50px;
            padding: 8px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 2px;
            background: #D8D8D8;
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.02);
            color: #000;
            font-family: 'Space Mono';
            font-size: 12px;
            transition: background-color 1s, color 1s;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }

        .photo-interest-arrow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .left.inactive,
            .right.inactive {
                opacity: 0.5;
                cursor: default;

                img {
                    pointer-events: none;
                }
            }
        }
    }

    .main-photo-img {
        width: 100%;
        height: auto;
        display: block;
    }
}

@media screen and (max-width: 1250px) {
    .main-photo .content-single-photo .content-desc-photo {
        flex-wrap: wrap-reverse;
    }

    .main-photo .content-interest-contact .interest {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .photo-title {
        font-size: 48px;
    }

    .main-photo .content-single-photo .single-photo {
        margin-left: 0px;
    }

    .container-similar-images {
        width: auto;
    }
}