.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    top: -100%;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s ease-in;
}

.modal.show {
    top: 0;
    opacity: 1;
}

.site_modal_contact {
    position: absolute;
    top: 41px;
    left: 30%;
    border-radius: 10px;
    z-index: 10;
    max-width: 38.8671875vw;
    width: 90%;
    padding-top: 18px;
    border: 5px solid #000;
    background: #FFF;

    .site_modal_header {
        overflow: hidden;
    }

    .site_modal_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wpcf7-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 17.122395833333332vw;
        margin-top: 8.95px;

        .input-form {
            margin-top: 1.5625vw;

        }

        .site_modal_content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .wpcf7-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 17.122395833333332vw;
            margin-top: 8.95px;

            .input-form {
                margin-top: 1.5625vw;
                max-width: 17.122395833333332vw;
            }

            .input-name,
            .inupt-mail,
            .input-ref-photo,
            .input-message {
                width: 17.122395833333332vw;
                border-radius: 8px;
                border: 1px solid #B8BBC2;
                background: #FFF;
            }

            .input-name,
            .inupt-mail,
            .input-ref-photo {

                height: 40px;
                border-radius: 8px;
                border: 1px solid #B8BBC2;
                background: #FFF;
            }

            .input-message>.wpcf7-not-valid-tip {
                color: #dc3232;
                font-size: 1em;
                font-weight: normal;
                display: block;
                position: relative;
            }

            .input-message>.wpcf7-not-valid-tip {
                color: #dc3232;
                font-size: 1em;
                font-weight: normal;
                display: block;
                position: relative;
            }

            .wpcf7-spinner {
                background-color: $red-sec;
                left: 278px;
                bottom: 34px;
            }
        }
    }
}

input[type="text"],
input[type="email"] {
    width: 17.122395833333332vw;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    background: #FFF;
}

input[type="submit"] {
    display: flex;
    width: 17.122395833333332vw;
    height: 50px;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background: #D8D8D8;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}

textarea {
    width: 17.122395833333332vw;
    height: 210px;
    margin-bottom: 19px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    background: #FFF;
    resize: none;
}

.modalOut {
    animation: modal-out 1s ease-out forwards;
}

.overlayOut {
    animation: overlay-out 1s ease-out;
}


@keyframes modal {
    0% {
        transform: scale(.0);
        background-color: #ffffff4d;
        border-radius: 100%;
        rotate: 360deg;
    }

    50% {
        background-color: #ffffffa7;
    }

    100% {
        transform: scale(1);
        background-color: #fff;
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modal-out {
    0% {
        transform: scale(1);
        background-color: #fff;

    }

    50% {
        background-color: #ffffffa7;
    }

    99% {
        transform: scale(.0);
        background-color: #ffffff4d;
        border-radius: 100%;
        rotate: 360deg;
    }

    100% {
        display: none;
    }
}

@keyframes overlay-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    99% {
        opacity: 0;
    }

    100% {
        display: none;
    }

}