.site_modal_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 20%;
    border-radius: 10px;
    z-index: 10;
    width: 597px;
    padding-top: 18px;
    border: 5px solid #000;
    background: #FFF;

    .wpcf7-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 263px;
        margin-top: 46.95px;

        .input-form {
            margin-top: 24px;
        }

        .input-name,
        .inupt-mail,
        .input-ref-photo,
        .input-message {
            width: 263px;
            border-radius: 8px;
            border: 1px solid #B8BBC2;
            background: #FFF;
        }

        .input-name,
        .inupt-mail,
        .input-ref-photo {
            width: 263px;
            height: 40px;
            border-radius: 8px;
            border: 1px solid #B8BBC2;
            background: #FFF;
        }

        .input-message {
            resize: none;
            height: 210px;
        }

        .input-envoyer {
            width: 263px;
            height: 50px;
            padding: 8px 15px;
            border-radius: 2px;
            background-color: $grey-med;
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
            margin-top: 19px;
        }

        .input-message>.wpcf7-not-valid-tip {
            color: #dc3232;
            font-size: 1em;
            font-weight: normal;
            display: block;
            position: relative;

        }

        .wpcf7-spinner {
            background-color: $red-sec;
            left: 278px;
            bottom: 34px;
        }
    }
}