.site_hero_header {

    .site_hero_image {
        width: 100%;
    }

    h1 {
        position: relative;
        top: -41vw;
        left: 13vw;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;

    }
}