/* The Modal (background) */
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    top: -100%;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s ease-in;
 
}

.modal.show {
    top: 0;
    opacity: 1;
}

.site_modal_contact {
    position: absolute;
    top: 0;
    left: 30%;
    border-radius: 10px;
    z-index: 10;
    width: 597px;
    height: 769px;
    padding-top: 18px;
    border: 5px solid #000;
    background: #FFF;


    .site_modal_header {
        overflow: hidden;
    }

    .site_modal_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wpcf7-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 263px;
        margin-top: 8.95px;

        .input-form {
            margin-top: 1.5625vw;
        }

        .input-name,
        .inupt-mail,
        .input-ref-photo,
        .input-message {
            width: 263px;
            border-radius: 8px;
            border: 1px solid #B8BBC2;
            background: #FFF;
        }

        .input-name,
        .inupt-mail,
        .input-ref-photo {
            width: 263px;
            height: 40px;
            border-radius: 8px;
            border: 1px solid #B8BBC2;
            background: #FFF;
        }

        .input-message {
            resize: none;
            height: 210px;
        }

        .input-envoyer {
            width: 263px;
            height: 50px;
            padding: 8px 15px;
            border-radius: 2px;
            background-color: $grey-med;
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
            margin-top: 19px;
        }

        .input-message>.wpcf7-not-valid-tip {
            color: #dc3232;
            font-size: 1em;
            font-weight: normal;
            display: block;
            position: relative;
        }

        .wpcf7-spinner {
            background-color: $red-sec;
            left: 278px;
            bottom: 34px;
        }
    }
}